<script type="text/javascript" src="js/action.js"></script>
<script type="text/javascript" src="Semantic-UI-CSS-master/semantic.min.js"></script>
</body>
<!--
<footer>
    Copyright Mr. Suphakorn Zhang
</footer>
-->
</html>