body{
    background-color: #eaeaea;
    padding: 1% 10%;
}

#title{
    margin: auto;
    width: 50%;
    text-align: center;
}

#business_card{
    text-align: center;
    margin: auto;
    width: 600px;
    height: 400px;
    margin-top: 8px;
    padding: 18px;
    
}
#img_card{
    height: 400px;
    width: 400px;
}

#plus_icon{
    font-size: 72px;
}

#inner_img{
    width: 100%;
    height: 100%;
}

#arrow{
    color: dimgray;
}