body{
    background-color: #eaeaea;
    padding: 1% 10%;
}

#title{
    margin: auto;
    width: 50%;
    text-align: center;
}

#business_card{
    height: 20%;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 18px;
    padding: 18% 18%;
}

#plus_icon{
    font-size: 72px;
}